@import '../../style/config';

.detail-panel {
    width: 100%;
    height: auto;
    background: $WHITE;

    .panel-title {
        width: 100%;
        height: 11.73vw;
        padding: 0 $SIZE_10;
        font-size: $FONT_SIZE_16;
        font-weight: bold;
        color: $GRAY_333;
        @include display-flex(row, flex-start);

        &:before {
            content: "";
            display: flex;
            width: 1vw;
            height: 3.73vw;
            background: $TAB_BOTTOM_COLOR;
            margin-right: $SIZE_5;
        }
    }

    .panel-content {
        font-size: $FONT_SIZE_16;
        line-height: $FONT_SIZE_26;
        border-top: 1px solid #E6E6E6;
        padding: $SIZE_10 $SIZE_10 $SIZE_20;
    }

    .panel-children {
        padding: $SIZE_5 $SIZE_10 $SIZE_20;
    }
}