// @import url("http://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css");
// @import url("http://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css");

#react-calendar-container {
    width: 100vw;
    height: 100vh;
    overflow: hidden;

    .react-calendar-body {
        width: 100%;
        height: 100%;

        .react-calendar-header {
            position: relative;
            z-index: 12;
            width: 100%;
            height: 20vw;

            .react-calendar-show-date {
                position: relative;
                height: 12vw;
                background: #FFF;

                .calendar-date {
                    position: absolute;
                    left: 5vw;
                    top: 0;
                    height: 100%;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;

                    .show-more {
                        transform-origin: 50% 50%;
                        transform: scale(0.95);
                        font-size: 3vw;
                    }

                    .show-month {
                        font-size: 6vw;
                        margin-right: 1vw;
                    }
                }

                .calendar-back-today {
                    position: absolute;
                    right: 18vw;
                    top: 50%;
                    height: 6vw;
                    width: 6vw;
                    margin-top: -3vw;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    font-size: 3vw;
                    border: 1px solid #DDD;
                    border-radius: 50%;
                }

                .calendar-function {
                    position: absolute;
                    right: 5vw;
                    top: 0;
                    height: 100%;
                    width: 4vw;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    >span {
                        height: 3px;
                        width: 3px;
                        background: #000;
                        border-radius: 50%;
                        margin-bottom: 4px;

                        &:last-child {
                            margin: 0;
                        }
                    }

                    .calendar-view-type {
                        position: absolute;
                        width: 22vw;
                        height: auto;
                        top: 12vw;
                        right: 2vw;
                        z-index: 12;
                        transform-origin: 100% 0;
                        transform: scale(0);
                        transition: all .15s ease-in-out;

                        &.show {
                            transform: scale(1);
                            transition: all .15s ease-in-out;
                        }

                        .calendar-view-select {

                            display: flex;
                            width: 100%;
                            height: auto;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;

                            background: #FFF;
                            box-shadow: 2px 2px 6px #aaa;
                            border-radius: 2px;

                            >p {
                                width: 100%;
                                height: 10vw;
                                line-height: 10vw;
                                text-align: center;
                                font-size: 4vw;
                            }
                        }
                    }
                }
            }

            .react-calendar-week-name {
                width: 100%;
                height: 8vw;
                display: flex;
                justify-content: space-between;
                align-items: center;
                box-sizing: border-box;
                font-size: 3vw;
                color: #666;
                background: #f5f5f9;
                border-bottom: 1px solid #EEE;

                >span {
                    position: relative;
                    width: 14vw;
                    height: 8vw;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }

        .react-calendar-content {
            position: relative;
            top: 0;
            z-index: 10;
            width: 100%;
            height: auto;
            transition: top .35s ease-in-out;

            .react-calendar-week {
                width: 100%;
                height: 15vw;
                min-height: 50px;
                display: flex;
                justify-content: space-around;
                align-items: center;

                .react-calendar-day {
                    position: relative;
                    width: 14vw;
                    height: 14vw;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: 1px solid transparent;
                    border-radius: 50%;
                    box-sizing: border-box;
                    transition: all .15s ease-in-out;
                    overflow: hidden;

                    &.active {
                        color: #FFF !important;
                        border: 1px solid #fda085;
                        background: #fda085;
                        box-shadow: 1px 1px 20px #fda085;
                        transition: all .15s ease-in-out;

                        >span {
                            &:nth-child(1) {
                                display: none;
                            }
                        }
                    }

                    >span {
                        position: absolute;
                        font-size: 3vw;
                        color: #999;

                        &:nth-child(1) {
                            top: 1vh;
                            left: 50%;
                            width: 4px;
                            height: 4px;
                            margin-left: -2px;
                            border-radius: 50%;
                            box-sizing: border-box;
                            background-color: transparent;
                        }

                        &:nth-child(2) {
                            top: 0;
                            right: 0;
                            height: 100%;
                            width: 3vw;
                            padding-top: .5vh;
                            display: flex;
                            flex-direction: column;
                            justify-content: flex-start;
                            align-items: flex-end;
                            transform-origin: 0 50%;
                            transform: scale(.65);
                            >span {
                                border: 1px solid #CCC;
                                border-radius: 4px;
                                padding: 1px;
                            }
                        }

                        &:nth-child(3) {
                            bottom: .2vh;
                            left: 0;
                            width: 100%;
                            text-align: center;
                            transform-origin: 50% 0;
                            transform: scale(0.65);

                        }

                        &:nth-child(4) {
                            top: 50%;
                            left: .5vw;
                            margin-top: -1.5vw;
                        }
                    }

                }
            }
        }

        .react-calendar-footer {
            position: relative;
            top: 0;
            z-index: 11;
            width: 100%;
            height: calc(100vh - 110vw);
            padding-top: 3vh;
            background: #FFF;
            transition: top .35s ease-in-out, height .5s ease-in-out;
            border-radius: 10px 10px 0 0;

            .react-calendar-footer-swiper {
                position: absolute;
                top: 0;
                left: 0;
                height: 3vh;
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                border-bottom: 1px solid #EEE;

                >span {
                    height: 1px;
                    width: 5vw;
                    background: #999;
                    margin: 2px 0;
                }
            }

            .react-calendar-footer-content {
                width: 100%;
                height: 100%;
                overflow-x: hidden;
                overflow-y: auto;

                .active-list-container {
                    padding: 1vh 2vw;
                    box-sizing: border-box;

                    .active-list-item {
                        box-shadow: 2px 2px 6px #CCC;
                        border: 1px solid #EEE;
                        border-radius: 4px;
                        padding: .5vh 0;
                        margin-bottom: 10px;

                        >p {
                            padding: 1vh 2vw;

                            &.active-title {
                                font-size: 4vw;
                            }

                            &.active-note {
                                font-size: 3vw;
                            }
                        }

                        .horizental-divider {
                            height: 1px;
                            width: 100%;
                            background: #EEE;
                        }
                    }
                }
                .active-block {
                    width: 100%;
                    height: 10px;
                }
            }
        }

        &.week {
            .react-calendar-footer {
                height: calc(100vh - 35vw);
                top: -75vw;
                transition: top .35s ease-in-out;
            }

            .react-calendar-content {
                transition: top .35s ease-in-out;
            }
        }

        .calendar-event-mask {
            position: absolute;
            top: 0;
            left: 0;
            background: transparent;
            display: none;
            width: 100vw;
            height: 100vh;
            z-index: 10;

            &.show {
                display: block;
            }
        }
    }
}