@import 'config';
@import url("http://at.alicdn.com/t/font_1303752_j168ikoy26r.css");

@font-face {
    font-family: 'PingFang-Medium';
    src: url('../fonts/PingFang-Medium.woff') format('woff');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-overflow-scrolling: touch;
}

html,
body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

body {
    font-family: 'PingFang-Medium', '微软雅黑', -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
        "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

a {
    text-decoration: none;
}

input,
textarea {
    border: 0;
    outline: 0;

    &::-webkit-input-placeholder {
        color: $GRAY_999;
    }

    &::-moz-input-placeholder {
        color: $GRAY_999;
    }

    &::-ms-input-placeholder {
        color: $GRAY_999;
    }
}

#root {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

// 主页
.hdz-block-small-space {
    width: 100%;
    height: $SIZE_5;
    background: transparent;
}

.hdz-block-medium-space {
    width: 100%;
    height: $SIZE_10;
    background: transparent;
}

.hdz-block-large-space {
    width: 100%;
    height: $SIZE_20;
    background: transparent;
}