@import 'config';

.hdz-lvyoto-mine {
    position: relative;
    z-index: 9;
    width: 100vw;
    height: auto;
    padding-top: 16vw;

    .mine-bottom {
        @include position(absolute, -83.47vw, calc(50% - 76.8vw), -1);
        width: 153.6vw;
        height: 121.6vw;
        border-radius: 50%;
        background-image: linear-gradient(133deg, #33B8FC 0%, #067CF5 100%);
    }

    .mine-setting {
        color: $WHITE;
        @include position(absolute, $SIZE_20, auto, 9, auto, $SIZE_20);

        i {
            font-size: $SIZE_20;
        }
    }

    .mine-card {
        width: 89.33vw;
        height: 26.67vw;
        overflow: hidden;
        margin: 0 auto;
        background: $WHITE;
        padding: $SIZE_20 $SIZE_10 * 2.4;
        border-radius: 4px;
        @include display-flex(row, space-between);

        img {
            width: 16.53vw;
            height: 16.53vw;
            border-radius: 50%;
            margin-right: $SIZE_10 *1.5;
        }

        .mine-cart-info {
            flex-grow: 1;

            >p {
                @include display-flex(row, flex-start);

                &:nth-child(1) {
                    margin-bottom: 3vw;

                    span {
                        &:nth-child(1) {
                            font-size: $FONT_SIZE_20;
                            font-weight: bold;
                            color: $GRAY_333;
                            margin-right: 2vw;
                        }

                        &:nth-child(2) {
                            align-self: flex-end;
                            height: 4.27vw;
                            font-size: 3.2vw;
                            color: #FFF;
                            padding: 0 3vw;
                            background: #FFC200;
                            border-radius: 2.14vw;
                            @include display-flex();

                            i {
                                font-size: $FONT_SIZE_16;
                                margin-right: -2px;
                            }
                        }
                    }
                }

                &:nth-child(2) {
                    font-size: $FONT_SIZE_14;
                    color: $GRAY_999;
                }
            }
        }
    }

    .upgrade-vip {
        width: 48vw;
        height: 10.13vw;
        font-size: $FONT_SIZE_16;
        font-weight: bold;
        color: $WHITE;
        border-radius: 5.07vw;
        background-image: linear-gradient(129deg, #FA9257 0%, #FE691C 100%);
        margin: $SIZE_10*1.6 auto;
        letter-spacing: 1px;
        @include display-flex();
    }

    .mine-function {
        width: 100%;
        height: auto;

        .mine-function-item {
            width: 100%;
            height: 11.73vw;
            overflow: hidden;
            padding: 0 $SIZE_20;
            margin: 1px auto;
            font-size: $FONT_SIZE_16;
            color: $GRAY_555;
            background: $WHITE;
            @include display-flex(row, space-between, center);

            span {
                flex-grow: 1;
            }

            .icon {
                font-size: $FONT_SIZE_18;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-image: linear-gradient(129deg, #33B8FC 0%, #067CF5 100%);
                margin-right: 2vw;
            }

            .iconyoubian {
                font-size: $FONT_SIZE_14;
                color: $GRAY_555;
            }
        }
    }
}









.hdz-financial-service {
    width: 100vw;
    height: auto;
    overflow: hidden;

    .service-list {
        width: 100%;
        height: auto;

        .service-item {
            width: 100%;
            height: 24.53vw;
            overflow: hidden;
            padding: $SIZE_5 0;
            background: $WHITE;
            margin: 1.6vw auto;


            >p {
                width: 100%;
                height: 4.8vw;
                line-height: 4.8vw;
                margin-bottom: 1.6vw;
                padding: 0 $SIZE_20;
                @include font($FONT_SIZE_12, $GRAY_999);
            }

            .service-intro {

                width: 100%;
                height: 12.8vw;

                padding-left: $SIZE_20;

                @include display-flex(row, space-between, stre);

                >img {
                    width: 12.8vw;
                    height: 12.8vw;
                    border-radius: 1.6vw;
                    overflow: hidden;
                    margin-right: 2.4vw;
                }

                .service-name {
                    flex-grow: 1;
                    @include display-flex(column, space-between, flex-start);

                    >p {
                        &:nth-child(1) {
                            height: $SIZE_20;
                            line-height: $SIZE_20;
                            @include font($FONT_SIZE_18, $GRAY_333, bold)
                        }

                        &:nth-child(2) {
                            transform-origin: 0% 50%;
                            transform: scale(.83);

                            span {
                                height: 4.8vw;
                                padding: .8vw 1.87vw;
                                border-radius: 2.4vw;
                                border: 1px solid $TAG_2_BORDER_COLOR;
                                @include display-flex(row, center, center, inline-flex);
                                @include font($FONT_SIZE_12, $TAG_2_COLOR);
                            }
                        }
                    }
                }

                .service-status {
                    width: 23.2vw;
                    height: 100%;
                    border-left: 1px solid #E6E6E6;
                    border-right: 1px solid #E6E6E6;
                    @include display-flex();
                    @include font($FONT_SIZE_14, $PRICE_COLOR);
                }

                .service-execution {
                    width: 23.2vw;
                    height: 100%;
                    @include display-flex(column);

                    span {
                        padding: .8vw 3.2vw;
                        margin: 1vw auto;
                        border-radius: 3.2vw;
                        border: 1px solid #E6E6E6;
                        @include display-flex();
                        @include font($FONT_SIZE_12, $GRAY_999);
                    }
                }
            }
        }

        .service-apply {
            width: 94.67vw;
            height: 12.67vw;
            background-image: linear-gradient(133deg, #33B8FC 0%, #067CF5 100%);
            border-radius: 4px;
            margin: $SIZE_10 auto;
            @include display-flex();
            @include font($FONT_SIZE_18, $WHITE, bold);
        }
    }
}