@import 'config';

#project.hdz-lvyoto-project {
    width: 100%;
    height: 100%;
    overflow: hidden;

    .hdz-tabs-header {
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .1);
    }

    .hdz-tabs-container {
        height: calc(100vh - 11.73vw - 50px);
    }

    .project-looking-funds {
        height: calc(100vh - 94px);
        // padding: 11.73vw 0 0 0;
        padding: 0;
        background: transparent;
        overflow: hidden;



        .looking-funds {
            width: 100%;
            height: calc(100vh - 11.73vw - 50px);
            overflow: auto;

            .lvyoto-filter-bar {

                width: 100vw;
                height: 11.73vw;
                background: $WHITE;
                box-shadow: 0 0 2px rgba(0, 0, 0, .2);
                margin-top: 5px;
                // @include position(fixed, 5px);
                @include display-flex(row, space-between);

                >div {
                    width: 33%;
                    height: 100%;
                    color: $GRAY_999;
                    font-size: $FONT_SIZE_14;
                    @include display-flex();

                    &.state-active {
                        color: $GRAY_555;
                    }

                    >i {
                        margin-left: 1vw;
                        font-size: $FONT_SIZE_12;
                    }
                }
            }

            .financing-project-list {
                width: 100%;
                height: calc(100% - 11.73vw - 6px);
                margin-top: 1px;
                overflow: auto;
                transition: all .25s ease-in-out;


                .financing-project {
                    position: relative;
                    width: 100%;
                    padding: $SIZE_10 $SIZE_10*1.4 $SIZE_10 $SIZE_10;
                    background: #FFF;
                    margin: 1px 0 1.6vw;
                    @include display-flex(column, flex-start, flex-start);

                    .project-name {
                        width: 100%;
                        height: auto;
                        min-height: $SIZE_20;
                        font-size: $FONT_SIZE_14;
                        font-weight: bold;
                        color: $GRAY_333;
                        line-height: $SIZE_20;
                        margin-bottom: $SIZE_5;
                        overflow: hidden;
                    }

                    .project-tags {
                        height: $SIZE_20;
                        margin-bottom: .5vw;
                        overflow: hidden;

                        >span {
                            border-radius: 3.6vw;
                            height: 4.8vw;
                            font-size: $FONT_SIZE_12;
                            padding: 2.4vw;
                            transform-origin: 0% 0%;
                            transform: scale(.83);
                            overflow: hidden;
                            margin: 0 0 1vw 0;
                            @include display-flex(row, center, center, inline-flex);

                            &.financing {
                                border: 1px solid $TAG_1_BORDER_COLOR;
                                color: $TAG_1_COLOR;
                            }

                            &.industry {
                                border: 1px solid $TAG_2_BORDER_COLOR;
                                color: $TAG_2_COLOR;
                            }
                        }
                    }

                    .project-intro {
                        >div {
                            text-align: center;

                            &:nth-child(1) {
                                width: 35%;

                                >p {
                                    &:nth-child(1) {
                                        color: $PRICE_COLOR;
                                    }
                                }
                            }

                            &:nth-child(2) {
                                width: 25%
                            }

                            &:nth-child(3) {
                                width: 40%
                            }
                        }
                    }

                    .successful-investment {
                        width: 16vw;
                        height: 16vw;
                        background-size: contain;
                        background-position: center;
                        background-repeat: no-repeat;
                        @include display-flex();
                        @include position(absolute, 7vw, auto, 1, auto, 1vw);
                    }
                }
            }
        }
    }

    .project-jl-financial {
        height: calc(100vh - 50px);
        padding: 11.73vw 0 0 0;
        background: transparent;
        overflow: hidden;

        .jl-financial {
            position: relative;

            .lvyoto-filter-bar {

                width: 100vw;
                height: 11.73vw;
                background: $WHITE;
                box-shadow: 0 0 2px rgba(0, 0, 0, .2);
                @include position(fixed, 5px, 100vw);
                @include display-flex(row, space-between);

                >div {
                    width: 50%;
                    height: 100%;
                    color: $GRAY_999;
                    font-size: $FONT_SIZE_14;
                    @include display-flex();

                    &.state-active {
                        color: $GRAY_555;
                    }

                    >i {
                        margin-left: 1vw;
                        font-size: $FONT_SIZE_12;
                    }
                }
            }

            .financial-list {
                width: 100%;
                height: calc(100vh - 11.73vw*2 - 50px);
                padding: 4vw $SIZE_10 $SIZE_10 $SIZE_10;
                overflow: auto;
            }
        }
    }
}


.financing-detail {
    .financial-item {
        width: calc(100% - 10.67vw);
        margin: 0 auto -5.33vw;
    }
}


// 通用样式
.financial-item {
    width: 100%;
    height: 32vw;
    border-radius: 1.6vw;
    color: $WHITE;
    padding: $SIZE_20;
    margin-bottom: $SIZE_5;
    @include display-flex(row, space-between, center);

    .finnacial-item-left {
        >p {
            overflow: hidden;

            &:nth-child(1) {
                font-size: $FONT_SIZE_24;
                height: $SIZE_10 * 3;
                line-height: $SIZE_10 * 3;
            }

            &:nth-child(2) {
                font-size: $FONT_SIZE_14;
                margin: $SIZE_5 0 $SIZE_10;
                height: $SIZE_20;
                line-height: $SIZE_20;
            }

            &:nth-child(3) {
                >a {
                    width: 19.2vw;
                    height: 5.6vw;
                    border-radius: 2.8vw;
                    border: 1px solid $WHITE;
                    font-size: $FONT_SIZE_12;
                    color: $WHITE;
                    @include display-flex();
                }
            }
        }
    }

    >i {
        margin-left: 8vw;
        font-size: 16vw;
    }
}