.hdz-swiper {
    width: 100vw;
    height: auto;
    overflow: hidden;

    .hdz-swiper-body {
        width: 100%;
        height: 100%;

        .hdz-swiper-link {
            position: relative;
            display: block;
            width: 100vw;
            height: 41.3vw;
            padding: 2.67vw;
            box-sizing: border-box;

            .hdz-swiper-image {
                display: flex;
                width: 94.66vw;
                height: 35.96vw;
                border-radius: 6px;
                box-shadow: 1px 1px 6px #EEE;
            }

            .hadz-swiper-title {
                position: absolute;
                bottom: 2.67vw;
                left: 2.67vw;
                width: calc(100% - 2.67vw - 2.67vw);
                color: #FFF;
                padding: 2vw;
                background: rgba(153, 153, 153, .6);
                border-radius: 0 0 4px 4px;
                overflow: hidden;
            }
        }

        .slider-decorator-0 {
            bottom: 4vw !important;
        }
    }
}