@import './config/style.scss';
@import url("http://at.alicdn.com/t/font_1251090_864ngf0j15.css");

body {
    font-family: 'PingFang-Medium', '微软雅黑';
}

* {
    box-sizing: border-box;
}

p {
    margin: 0;
}

input {
    border: 0;
    outline: 0;
}

.am-tabs-tab-bar-wrap {
    box-shadow: -1px -1px 4px #EEE;
}

// 主页
.hdz-block-space {
    width: 100%;
    height: 1.6vw;
    background: transparent;
}

.hdz-navi-container {
    .hdz-navi-list {
        width: 100vw;
        height: 28.3vw;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #FFF;

        .hdz-navi-item {
            width: 25vw;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            span {
                display: flex;
                justify-content: center;
                align-items: center;

                &:first-child {
                    width: 14.5vw;
                    height: 14.5vw;
                    border-radius: 50%;
                    margin-bottom: 3vw;

                    >i {
                        font-size: 6.7vw;
                        color: #FFF;
                    }
                }

                &:last-child {
                    width: 100%;
                    color: #666;
                }
            }
        }
    }
}


.hdz-function-area {
    padding: 0 2.67vw;
    background: #FFF;
    padding-bottom: 4vw;

    >p {
        height: 10vw;
        line-height: 10vw;
        font-size: 3.2vw;
        color: #333333;
        font-weight: bold;
    }

    .function-swiper {
        height: 16.5vw;

        .function-swiper-item {
            display: block;
            position: relative;
            width: 100%;
            height: 100%;
            border-radius: 4px;
            font-size: 3.2vw;
            padding: 2.67vw;

            >p {
                &:nth-child(1) {
                    margin-bottom: 2vw;
                }

                &:nth-child(2) {
                    transform-origin: 0% 0%;
                    transform: scale(.75);
                }

                &:nth-child(3) {
                    i {
                        position: absolute;
                        right: 2.67vw;
                        bottom: 0;
                        font-size: 8vw;
                    }
                }
            }
        }
    }
}

.hdz-hot-activity {
    width: 100%;
    background: #FFF;

    >p {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2.67vw 2.67vw 1.3vw;
        height: 10vw;
        font-size: 3.2vw;
        color: #333333;
        font-weight: bold;
        box-sizing: border-box;

        a {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 3.2vw;
            font-weight: normal;
            width: 18vw;
            height: 6vw;
            color: rgba(255, 111, 112, 1);
            background: rgba(255, 239, 239, 1);
            border-radius: 6vw;
        }
    }

    .hot-activity-list {
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        .activity_list_item {
            width: 46vw;
            margin: 1.3vw 2.6vw;

            &:nth-child(2n) {
                margin: 0 2.6vw 0 0;
            }

            img {
                width: 100%;
                height: 26vw;
                border-radius: 4px;
            }

            p {
                height: 10vw;
                line-height: 5vw;
                font-size: 3.2vw;
                display: -webkit-box;
                overflow: hidden;
                text-overflow: ellipsis;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
            }
        }
    }
}

// 主页

// 志愿者申请
.hdz-volunteer-application {
    width: 100vw;
    height: calc(100vh - 50px);
    overflow: hidden;
    color: #FFF;
    background: linear-gradient(to right, #ff6f70 0%, #ff916d 100%);


    .hdz-application-header {
        width: 100vw;
        height: calc(33.3% - 20px);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        p {
            text-align: center;
            margin: 1vw 0;

            &:first-child {
                font-family: "Arial";
                font-size: 10vw;
            }

            &:last-child {
                font-size: 4.27vw;
                font-weight: bold;
            }
        }
    }

    .hdz-application-form {
        width: 100vw;
        height: calc(66.8% + 20px);
        background: rgba(254, 240, 217, 1);
        border-radius: 20px 20px 0 0;
        overflow-x: hidden;
        overflow-y: auto;
        padding: 20px 0;

        >p {
            height: 10.67vw;
            line-height: 10.67vw;
            font-size: 4.27vw;
            text-align: center;
            color: #FF6F70;
            font-weight: bold;
        }

        .hdz-application-form-body {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            padding: 3.73vw 0;

            input {
                height: 11.73vw;
                width: 76vw;
                border: none;
                outline: none;
                margin: 1.87vw 0;
                border-radius: 5.87vw;
                padding: 0 5.87vw;
                color: #666;

                &::-webkit-input-placeholder {
                    color: #999;
                }

                &::-moz-input-placeholder {
                    color: #999;
                }

                &::-ms-input-placeholder {
                    color: #999;
                }
            }

            a {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 11.73vw;
                width: 76vw;
                margin: 1.87vw 0;
                border-radius: 5.87vw;
                color: #FFF;
                background: linear-gradient(to right, #FF6F70 0%, #FF916D 100%);
                font-size: 4.27vw;
                font-weight: bold;
            }
        }
    }
}

// 最新活动列表
.latest-activity-list {
    .latest-activity-item-container {
        margin: 2.67vw;
        width: calc(100vw - 2.67vw - 2.67vw);
        box-shadow: 1px 1px 6px #CCC;
        overflow: hidden;
        border-radius: 4px;

        .latest-activity-item {
            display: flex;
            flex-direction: column;
            width: 100%;
            background: #FFF;
            color: #333;

            img {
                width: 100%;
                height: 53.25vw;
            }

            .activity-name {
                padding: 1.34vw 2.67vw 1vw;
                font-size: 3.73vw;
                font-weight: bold;
                line-height: 1.5;
            }

            .activity-date {
                display: flex;
                align-items: center;
                padding: 1vw 2.67vw 2.67vw;
                font-size: 3.2vw;
                color: #999;

                i {
                    font-size: 3.6vw;
                    margin-right: 1vw;
                }
            }
        }
    }
}

// 培训通知列表
.training-notice-list {
    .training-notice-item-container {
        margin: 2.67vw;
        width: calc(100vw - 2.67vw - 2.67vw);
        box-shadow: 1px 1px 6px #CCC;
        overflow: hidden;
        border-radius: 4px;

        .training-notice-item {
            display: flex;
            justify-content: space-between;
            width: 100%;
            background: #FFF;
            color: #333;
            padding: 2.67vw;
            box-sizing: border-box;

            .training-left {
                width: 52vw;

                .training-name {
                    width: 100%;
                    height: 10.67vw;
                    line-height: 5.33vw;
                    font-size: 3.73vw;
                    font-weight: bold;
                    color: #333;
                    display: -webkit-box;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    text-align: justify;

                    &:after {
                        content: "";
                    }
                }

                .training-description {
                    width: 100%;
                    height: 13vw;
                    line-height: 1.35;
                    font-size: 3.2vw;
                    color: #999;
                    display: -webkit-box;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    -webkit-line-clamp: 3;
                    -webkit-box-orient: vertical;
                    text-align: justify;

                    &:after {
                        content: "";
                    }
                }
            }

            .training-right {
                width: 32vw;

                img {
                    width: 32vw;
                    height: 16vw;
                    border-radius: 4px;
                }

                .training-date {
                    font-size: 3.2vw;
                    color: #999;
                    text-align: right;
                    margin-top: 3vw;
                }
            }
        }
    }
}

// 文章详情
.hdz-article-container {
    width: 100vw;
    height: auto;
    min-height: calc(100vh - 50px);
    padding: 5.33vw;
    box-sizing: border-box;
    background: #FFF;
    overflow-x: hidden;

    .article-title {
        height: 16vw;
        line-height: 8vw;
        font-size: 5.87vw;
        color: #333;
    }

    .article-info {
        display: flex;

        margin: 3.73vw 0 8vw;

        img {
            width: 10.67vw;
            height: 10.67vw;
            border-radius: 50%;
            margin-right: 2vw;
        }

        .author-info {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: flex-start;

            .author-name {
                font-size: 3.73vw;
                color: #555;
            }

            .article-date {
                font-size: 3.2vw;
                color: #999;
            }
        }
    }

    .article-content {
        width: 100%;
        height: auto;

        * {
            max-width: 100%;
        }
    }
}

// 关注页
.hdz-attention {
    .attention-tabs {
        background: #FFF;

        .am-tabs-default-bar {
            display: inline-flex;
            width: 80vw;
            overflow: hidden;
        }

        .attention-tabs-function {
            display: inline-flex;
            width: 20vw;
            height: 100%;
            overflow: hidden;
            justify-content: space-around;
            align-items: center;

            i {
                font-size: 5vw;
                padding: 1vw;
            }
        }
    }

    .attention-tab-content {
        min-height: calc(100vh - 100px);

        .attention-swiper {
            background: #FFF;
            margin-bottom: 2.67vw;

            .hdz-swiper-link {
                height: 44vw;
            }
        }

        .attention-list {
            .attention-item {
                width: 100vw;
                padding: 2.67vw;
                margin: 1px 0;
                background: #FFF;
                display: flex;
                justify-content: space-between;

                .attention-item-left {
                    width: 60vw;
                    line-height: 1.5;

                    .attention-itme-title {
                        height: 10vw;
                        font-size: 3.73vw;
                        color: #333;
                        font-weight: bold;
                        display: -webkit-box;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        -webkit-line-clamp: 2;
                        -webkit-box-orient: vertical;
                    }

                    .attention-itme-description {
                        height: 5vw;
                        font-size: 3.2vw;
                        color: #999;
                        margin: 6px 0 2px;
                        display: -webkit-box;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        -webkit-line-clamp: 1;
                        -webkit-box-orient: vertical;
                    }

                    .attention-itme-interval {
                        font-size: 3.2vw;
                        color: #9B9B9B;
                        height: 5vw;
                    }
                }

                .attention-item-right {
                    width: 32vw;

                    img {
                        width: 32vw;
                        height: 16vw;
                        border-radius: 4px;
                    }
                }
            }
        }

    }

    .attention-panel-mask {
        position: fixed;
        left: 0;
        top: -100vh;
        width: 100vw;
        height: 100vh;
        background: rgba(0, 0, 0, .2);
        z-index: -99;

        .attention-panel {
            position: fixed;
            bottom: -90vh;
            left: 0;
            z-index: 16;
            width: 100vw;
            height: 90vh;
            background: #FFF;
            transition: all .15s ease-in-out;

            .attention-panel-title {
                font-size: 3.73vw;
                font-weight: bold;
                color: #333;
                height: 10.67vw;
                line-height: 10.67vw;
                width: calc(100vw - 3.73vw - 3.73vw);
                margin: 0 3.73vw;
                border-bottom: 1px solid #CCC;
            }

            .attention-panel-content {
                position: relative;
                z-index: 16;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                align-items: center;
                padding: 3.73vw;
                user-select: none;

                span {
                    width: 29vw;
                    height: 12.27vw;
                    font-size: 4.27vw;
                    color: #555;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 4px;
                    background: #EEE;
                    margin-bottom: 2vw;

                    &.active {
                        color: #FFF;
                        background: #FF6F70;
                    }
                }
            }
        }

        &.active {
            z-index: 15;
            top: 0;

            .attention-panel {
                bottom: 0;
                left: 0;
                transition: all .15s ease-in-out;

            }
        }
    }
}

// 我的
.hdz-mine {
    .user-info-container {
        position: relative;
        width: 100vw;
        height: 58.67vw;
        background: linear-gradient(to right, #FF6F70 0%, #FF916D 100%);

        .user-info {
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 40.8vw;
            background: #FFF;
            border-radius: 8px 8px 0 0;

            .user-info-panel {
                position: absolute;
                left: 0;
                bottom: 0;
                width: 100%;
                height: 52.13vw;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;

                img {
                    width: 18.67vw;
                    height: 18.67vw;
                    border-radius: 50%;
                    border: 1vw solid #FFF;
                    box-sizing: content-box;
                    background: #FFF;
                }

                p {
                    text-align: center;
                }

                .user-name {
                    font-size: 4.27vw;
                    font-weight: bold;
                    color: #333;
                    margin: 2vw 0 4vw
                }

                .apply-to-volunteer {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 70.93vw;
                    height: 16vw;
                    font-size: 4.8vw;
                    font-weight: bold;
                    color: #FFF;
                    background-image: linear-gradient(133deg, #FFAF31 0%, #FFDA40 100%);
                    box-shadow: 0 2px 3px 0 rgba(255, 175, 49, .3);
                    border-radius: 8vw;
                }

                .user-scores {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    width: 70.93vw;
                    height: 16vw;

                    p {
                        margin: 1vw 0;

                        &:first-child {
                            font-size: 6.4vw;
                            font-weight: bold;
                            color: #FF6F70;
                        }

                        &:last-child {
                            >a {
                                font-size: 3.73vw;
                                color: #555555;
                            }
                        }
                    }
                }

                .iconaixin {
                    position: absolute;
                    top: 16.5vw;
                    left: calc(50% - 2.5vw);
                    font-size: 5vw;
                    color: red;
                }
            }
        }

        .user-setting {
            position: absolute;
            right: 2.67vw;
            top: 2.67vw;
            z-index: 17;

            i {
                font-size: 6.4vw;
                color: #FFF;
            }
        }
    }

    .user-function {
        >a {
            width: 100vw;
            height: 11.73vw;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 5.33vw;
            margin: 1px auto;
            background: #FFF;
            font-size: 3.73vw;
            color: #555;

            i {
                background-clip: text;
                -webkit-text-fill-color: transparent;

                &.iconxiadan {
                    background-image: linear-gradient(133deg, #FF6F70 0%, #FF916D 100%);
                }

                &.iconwodedingdan {
                    background-image: linear-gradient(133deg, #FFAF31 0%, #FFDA40 100%);
                }

                &.icontousuyujianyi {
                    background-image: linear-gradient(133deg, #5593F8 0%, #6DC6FF 100%);
                }

                &.iconjiantouyou {
                    background-image: linear-gradient(180deg, #8E8E8E 0%, #555555 100%);
                }
            }

            >span {
                flex-grow: 1;
                padding-left: 2vw;
            }
        }

        .my-order {
            background: #FFF;
            padding: 1vw 0;

            .order-type-title {
                width: calc(100vw - 5.33vw - 5.33vw);
                height: 8vw;
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin: 0 auto;
                border-bottom: 1px solid #CCC;

                >span {
                    font-size: 3.73vw;
                    color: #333;
                }

                >a {
                    font-size: 3.2vw;
                    color: #999;
                }
            }

            .order-type-list {
                width: calc(100vw - 5.33vw - 5.33vw);
                height: 22.4vw;
                display: flex;
                justify-content: space-around;
                align-items: center;
                margin: 0 auto;

                .order-type-item {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    >i {
                        font-size: 6.97vw;
                        font-weight: bold;
                        background-image: linear-gradient(133deg, #FF6F70 0%, #FF916D 100%);
                        background-clip: text;
                        -webkit-text-fill-color: transparent;
                        margin-bottom: 1vw;
                    }

                    >p {
                        font-size: 3.2vw;
                        color: #555;
                    }
                }
            }
        }
    }
}

// 我的设置页
.hdz-setting {
    padding: 2.67vw;
    box-sizing: border-box;

    >a {
        width: 100%;
        height: 11.73vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
        overflow: hidden;
        background: #FFF;
        border-radius: 4px;
        padding: 0 2.67vw;
        margin: 1px 0;
        color: #555;
        font-size: 3.73vw;

        >p {
            flex-grow: 1;
            text-align: right;
            padding: 0 2vw;

            >img {
                width: 13.33vw;
                height: 13.33vw;
                border-radius: 50%;
            }
        }

        &.user-avatar {
            height: 18.13vw;
        }

        &.user-title {
            background: transparent;
        }
    }
}

.hdz-setting-info {
    .setting-info-header {
        width: 100vw;
        height: 10.13vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 2.67vw;
        background: #FFF;

        >p {
            font-size: 4.27vw;
            font-weight: bold;
            color: #000;
        }

        >a {
            padding: 1vw 2vw;
            font-size: 3.2vw;
            color: #FF6F70;
        }
    }

    .setting-info-function-area {
        width: 100vw;

        >input {
            width: 90vw;
            height: 12.8vw;
            background: #FFFFFF;
            border-radius: 6.4vw;
            border: none;
            outline: none;
            padding: 0 3.73vw;
            margin: 3.73vw 5vw;
        }

        .male,
        .female {
            width: 90vw;
            height: 12.8vw;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 3.73vw;
            margin: 3.73vw 5vw;
            background: #FFFFFF;
            border-radius: 6.4vw;

            >span {
                font-size: 3.73vw;
                color: #555;
                flex-grow: 1;
                padding: 3.73vw;
            }

            i {
                font-size: 3.73vw;
                font-weight: bold;
                background-clip: text;
                -webkit-text-fill-color: transparent;

                &.iconnan {
                    background-image: linear-gradient(133deg, #5593F8 0%, #6DC6FF 100%);
                }

                &.iconnv {
                    background-image: linear-gradient(133deg, #FF6F70 0%, #FF916D 100%);
                }

                &.iconxuanzhong {
                    font-size: 6vw;
                    opacity: 0;
                    background-image: linear-gradient(133deg, #555555 0%, #555555 100%);
                    transition: all .25s ease-in-out;
                }
            }

            &.active {
                .iconxuanzhong {
                    opacity: 1;
                    transition: all .25s ease-in-out;
                }
            }
        }

        .user-info-phone {
            width: 90vw;
            height: 8vw;
            line-height: 8vw;
            padding: 0 3.73vw;
            margin: 5vw 5vw 0;
            font-size: 4.8vw;
            color: #555555;
        }
    }
}

// 我的设置页

// 我的积分
.hdz-scores {
    height: calc(100vh - 50px);

    .scores-info-container {
        width: 100vw;
        height: 42.67vw;
        background: linear-gradient(to right, #FF6F70 0%, #FF916D 100%);
        display: flex;
        justify-content: center;
        align-items: center;
        color: #FFF;

        .scores-icon {
            i {
                font-size: 17.6vw;
                color: #FFF;
                margin-right: 4vw;
            }
        }

        .scores-balance {
            p {
                margin: 1vw 0;

                &:first-child {
                    font-size: 3.73vw;
                }

                &:last-child {
                    font-size: 10.67vw;
                    font-weight: bold;
                }
            }
        }

    }

    .scores-info {
        width: 100%;
        height: calc(100% - 42.67vw + 3.73vw);
        background: #FFF;
        border-radius: 8px 8px 0 0;
        transform: translateY(-3.73vw);
        overflow-y: auto;

        .scores-info-list {
            width: 100%;
            height: 100%;

            .scores-info-item {
                width: 100%;
                height: 11.73vw;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 0 5.33vw;
                border-bottom: 1px solid #EEE;

                >span {
                    font-size: 3.73vw;

                    &:nth-child(1) {
                        color: #999;
                    }

                    &:nth-child(2) {
                        flex-grow: 1;
                        padding: 0 3.73vw;
                        font-weight: bold;
                        color: #555;
                    }

                    &:nth-child(3) {
                        &.in {
                            color: #FF6F70;

                            &:before {
                                content: '+'
                            }
                        }

                        &.out {
                            color: #5593F8;

                            &:before {
                                content: '-'
                            }
                        }
                    }
                }
            }
        }
    }
}

// 服务页
.hdz-service {
    .service-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: #FFF;

        .search-icon {
            i {
                font-size: 5.33vw;
                padding: 1vw 2vw;
            }
        }

        .search-input-container {
            position: relative;
            flex-grow: 1;
            padding: 1.6vw;

            i {
                position: absolute;
                top: 50%;
                left: 4.5vw;
                margin-top: -2.5vw;
                font-size: 5vw;
                color: #999;
            }

            input {
                width: 100%;
                height: 10.67vw;
                padding: 0 5vw 0 10vw;
                border-radius: 5.33vw;
                background: #F7F7F7;
            }
        }
    }

    .service-function {
        width: 100vw;
        height: 9.33vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: #FFF;

        >div {
            flex-grow: 1;
            align-self: stretch;
            display: flex;
            justify-content: center;
            align-items: center;

            >i {
                font-size: 3.2vw;
                color: #999;
                margin-left: 2vw;
            }

            &.service-sort {}

            &.service-type {}

            &.service-filter {}
        }
    }

    .service-list {
        padding: 2.67vw;

        .service-item {
            width: 100%;
            height: 24vw;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            padding: 2.13vw 2.67vw;
            background: #FFF;
            border-radius: 4px;

            .service-item-left {
                width: 24vw;
                margin-right: 2.67vw;

                img {
                    width: 24vw;
                    height: 14.93vw;
                    border-radius: 4px;
                }
            }

            .service-item-right {
                flex-grow: 1;
                align-self: stretch;
                overflow: hidden;

                p {
                    width: 100%;
                    overflow: hidden;
                    display: -webkit-box;
                    text-overflow: ellipsis;
                    -webkit-box-orient: vertical;

                    &.service-title {
                        height: 5vw;
                        font-size: 3.73vw;
                        font-weight: bold;
                        color: #333;
                        -webkit-line-clamp: 1;
                    }

                    &.service-description {
                        height: 8vw;
                        line-height: 4vw;
                        font-size: 3.2vw;
                        color: #999;
                        -webkit-line-clamp: 2;
                        margin: 1vw 0;
                    }

                    &.service-tags {
                        width: 133%;
                        display: flex;
                        justify-content: flex-start;
                        flex-wrap: wrap;
                        align-items: flex-start;
                        transform-origin: 0% 0%;
                        transform: scale(.75);

                        span {
                            height: 100%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            font-size: 3.2vw;
                            color: #5593F8;
                            background: #E8EDF5;
                            border-radius: 4px;
                            padding: 1vw 2vw;
                            margin: 0 1vw 1vw 0;
                        }
                    }
                }

            }
        }
    }
}

// 服务详情页  
.hdz-service-details {
    .service-details-header {
        width: 100vw;
        padding: 4vw 5.33vw;
        background: #FFF;

        .service-title {
            width: 100%;
            font-size: 4.27vw;
            font-weight: bold;
            color: #333;
        }

        .service-tags {
            width: 133%;
            display: flex;
            justify-content: flex-start;
            flex-wrap: wrap;
            align-items: flex-start;
            transform-origin: 0% 0%;
            transform: scale(.75);
            margin: 2vw 0 1vw;

            span {
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 3.2vw;
                color: #5593F8;
                background: #E8EDF5;
                border-radius: 4px;
                padding: 1vw 2vw;
                margin: 0 1vw 1vw 0;
            }
        }

        .service-images {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            flex-wrap: wrap;

            img {
                width: 32%;
                border-radius: 4px;
            }
        }
    }

    .service-details-intro,
    .service-details-notice {
        width: 100vw;
        padding: 1vw 5.33vw 4vw;
        background: #FFF;

        >p {
            height: 8vw;
            line-height: 8vw;
            font-size: 3.2vw;
            font-weight: bold;
            color: #333333;
            border-bottom: 1px solid #EEE;
        }

        >div {
            padding: 2.13vw 0;
            font-size: 3.2vw;
            color: #555;
        }
    }

    .service-details-button {
        position: fixed;
        left: 0;
        bottom: 50px;
        width: 100vw;
        height: 10.67vw;
        background: #FFF;
        box-shadow: -1px -1px 6px #EEE;
        z-index: 1;
        transition: all .25s ease-in-out;

        &.noshow {
            bottom: -10vw;
        }

        >a {
            position: absolute;
            top: -5.34vw;
            left: calc(50% - 53.33vw/2);
            z-index: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 53.33vw;
            height: 10.67vw;
            font-size: 4.27vw;
            color: #FFF;
            border-radius: 5.34vw;
            background-image: linear-gradient(133deg, #FF6F70 0%, #FF916D 100%);
            box-shadow: 0 2px 3px 0 rgba(255, 111, 112, 0.30);
        }
    }
}

// 日期选择器
.date-picker-masker {
    position: fixed;
    left: 0;
    bottom: -100vw;
    width: 100vw;
    z-index: 101;
    box-shadow: -1px -1px 6px #CCC;
    background: #FFF;
    transition: all .25s ease-in-out;

    &.show {
        bottom: 50px;
    }
}

.hdz-mine-order {
    .mine-order-list {
        width: 100vw;
        min-height: calc(100vh - 100px);
        overflow-x: hidden;
        overflow-y: auto;
        padding: 2.67vw;

        .mine-order-item {
            position: relative;
            width: 100%;
            height: 26.67vw;
            padding: 2.67vw;
            background: #FFF;
            border-radius: 4px;


            .order-title {
                height: 3.5vw;
                line-height: 3.5vw;
                overflow: hidden;
                font-size: 3.2vw;
                color: #999;
                transform-origin: 0% 50%;
                transform: scale(.85);
                margin-bottom: 1.5vw;
            }

            .order-info {
                display: flex;
                justify-content: space-between;
                align-items: flex-start;

                .order-image {
                    img {
                        width: 24vw;
                        height: 14.96vw;
                        border-radius: 4px;
                    }
                }

                .order-content {
                    flex-grow: 1;
                    padding: 0 1.33vw;

                    p {
                        &:nth-child(1) {
                            font-size: 3.73vw;
                            font-weight: bold;
                            color: #333;
                            line-height: 1.35;
                        }

                        &:nth-child(2) {
                            width: 133%;
                            display: flex;
                            justify-content: flex-start;
                            flex-wrap: wrap;
                            align-items: flex-start;
                            transform-origin: 0% 0%;
                            transform: scale(.75);
                            margin-top: 1vw;

                            span {
                                height: 100%;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                font-size: 3.2vw;
                                color: #5593F8;
                                background: #E8EDF5;
                                border-radius: 4px;
                                padding: 1vw 2vw;
                                margin: 0 1vw 1vw 0;
                            }
                        }

                        &:nth-child(3) {
                            height: 5.33vw;
                            overflow: hidden;
                            display: flex;
                            justify-content: flex-end;
                            align-content: flex-start;
                            transform-origin: 100% 0%;
                            transform: scale(.9);

                            span {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                padding: .08vw 3.4vw;
                                background: #FFF;
                                border: 1px solid #DCDCDC;
                                border-radius: 2.67vw;
                                font-size: 3.2vw;
                                color: #999;
                                margin-left: 1vw;

                                &.confirm {
                                    color: #FFF;
                                    border: 1px solid transparent;
                                    background-image: linear-gradient(133deg, #FFAF31 0%, #FFDA40 100%);
                                }
                            }
                        }
                    }
                }
            }

            .order-state {
                position: absolute;
                top: 0;
                right: 2.67vw;
                padding: 1.07vw 3.47vw;
                font-size: 3.2vw;
                color: #FFF;
                background: #888;
                border-radius: 0 0 6px 6px
            }

            &.PENNDING {
                .order-state {
                    background-image: linear-gradient(133deg, #FF6F70 0%, #FF916D 100%);
                }
            }

            &.WAITING {
                .order-state {
                    background-image: linear-gradient(133deg, #FFAF31 0%, #FFDA40 100%);
                }
            }

            &.TO_BE_CONFIRMED {
                .order-state {
                    background-image: linear-gradient(133deg, #FFAF31 0%, #FFDA40 100%);
                }
            }

            &.TO_BE_CLOSED {
                .order-state {
                    background-image: linear-gradient(133deg, #FF6F70 0%, #FF916D 100%);
                }
            }

            &.CLOSED {
                .order-state {
                    background-image: linear-gradient(133deg, #5593F8 0%, #6DC6FF 100%);
                }
            }

            &.CANCEL {
                .order-state {
                    background-image: linear-gradient(133deg, #D9D9D9 0%, #D9D9D9 100%);
                }
            }
        }

    }
}