// NECESSARY!!!
* {
    touch-action: pan-y;
}

p {
    margin: 0;
}

#react-amap-container {
    position: relative;
    width: 100%;
    height: 100%;

    .amap-logo {
        display: none !important;
    }

    .amap-copyright {
        display: none !important;
    }

    .react-amap-swiper {
        width: 100%;
        height: 25vmax;
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 100;
        box-sizing: border-box;
        padding-bottom: 1vmax;


        .react-amap-swiper-container {
            display: inline-flex;
            flex-direction: column;
            width: 100%;
            height: 24vmax;
            color: #333;
            background: #FFF;
            border-radius: 4px;
            box-shadow: 2px 2px 4px #CCC;
            transform: scale(.95);
            padding: 1vmax 2vmax 3vmax;
            box-sizing: border-box;

            >div {
                height: 100%;
                width: 100%;
                overflow: hidden;
            }

            .react-amap-swiper-title {
                margin: 1vmax 0;
                font-size: 2.8vmax;
                font-weight: bold;
                height: 3vmax;
                overflow: hidden;
            }

            .react-amap-swiper-address {
                margin: .5vmax 0 1vmax;
                font-size: 2vmax;
                height: 2vmax;
                line-height: 1;
                overflow: hidden;
            }

            .react-amap-swiper-description {
                margin: .5vmax 0;
                font-size: 2vmax;
                height: 10vmax;
                line-height: 1.26;
                color: #999;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 4;
                -webkit-box-orient: vertical;
            }
        }

        .am-carousel-wrap {
            position: relative;
            bottom: 1vmax;
        }
    }

    .amap-touch-toolbar {
        .amap-toolbar-geo {
            position: relative;
            bottom: calc(20px + 25vmax);
            right: -10px;
        }

        .amap-zoomcontrol {
            bottom: calc(-80px + 25vmax);
        }
    }

    .loading {
        position: fixed;
        top: 50%;
        left: 50%;
        width: auto;
        height: 5vw;
        margin: -2.5vw 0 0 -12.5vw;
        display: flex;
        justify-content: center;
        align-items: center;

        span {
            display: inline-block;
            width: 4vw;
            height: 4vw;
            margin-right: 5px;
            border-radius: 50%;
            background-image: linear-gradient(to right, #f78ca0 0%, #f9748f 19%, #fd868c 60%, #fe9a8b 100%);
            -webkit-animation: load 1.04s ease infinite;

            &:nth-child(1) {
                -webkit-animation-delay: 0.13s;
            }

            &:nth-child(2) {
                -webkit-animation-delay: 0.26s;
            }

            &:nth-child(3) {
                -webkit-animation-delay: 0.39s;
            }

            &:nth-child(4) {
                -webkit-animation-delay: 0.52s;
            }

            &:nth-child(5) {
                -webkit-animation-delay: 0.65s;
            }

            &:last-child {
                margin-right: 0px;
            }
        }
    }
}

@-webkit-keyframes load {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

